.app-layout {
  background: url(/common/background.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  .header {
    background: #180f5c;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    .header-container {
      @include container;
      padding: 10px 0;
      height: 80px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      @include to(sm) {
        padding: 10px 0;
      }
      .nav-left {
        display: flex;
        height: 100%;
        align-items: center;
        animation: slideInLeft 0.5s;
        .logo {
          height: 100%;
          object-fit: contain;
          cursor: pointer;
        }
        .nav-bar {
          display: flex;
          margin-left: 30px;
          .nav-item {
            background: none;
            font-size: 18px;
            font-weight: 400;
            transition: 0.5s;
            @include to(lg) {
              font-size: 13px;
            }
          }
          @include to(md) {
            display: none;
          }
        }
      }
      .nav-right {
        width: 45%;
        height: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
        animation: slideInRight 0.5s;
        .search-bar {
          position: relative;
          margin-left: 20px;
          @include to(md) {
            display: none;
          }
          background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
          border-radius: 16px;
          padding: 1px;
          width: 100%;
          .result-box-wrapper {
            position: absolute;
            width: 100%;
            top: 50px;
            left: 0;
            border-radius: 16px;
            background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
            padding: 1px;
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
            animation: fadeIn 0.2s;
            .result-box {
              background: $dark-purple;
              border-radius: 16px;
              width: 100%;
              max-height: 700px;
              overflow-y: scroll;
              &::-webkit-scrollbar {
                display: none;
              }
              -ms-overflow-style: none;
              scrollbar-width: none;
              height: fit-content;
              padding: 20px;
              display: flex;
              flex-direction: column;

              justify-content: flex-start;
              .app-spinner {
                margin-top: -80px;
              }
              .collection-item:not(:last-child) {
                margin-bottom: 10px;
              }
            }
          }
          input {
            border-radius: 16px;
            background: #180f5c;
            border: none !important;
            &:focus {
              box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4) !important;
            }
          }
        }
        .noti-button {
          font-size: 40px;
          cursor: pointer;
          animation: fadein 0.1s;
        }
        .user {
          font-size: 50px;
          cursor: pointer;
        }
        .spinner {
          width: 50px;
          height: 50px;
          position: relative;
          .user {
            margin-left: 0;
          }
          .cancel-btn {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            font-size: 12px;
            border-radius: 100%;
          }
        }
        .signed-user {
          background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
          padding: 2px;
          width: 50px;
          height: 50px;
          min-width: 50px;
          margin-left: 20px;
          border-radius: 100%;
          cursor: pointer;
          border-radius: 100%;
          position: relative;
          animation: fadein 0.5s;
          .user-container {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .menu-button {
          margin-left: 20px;
          font-size: 30px;
          cursor: pointer;
          @include from(md) {
            display: none;
          }
        }
        .network {
          .network-nav {
            background: transparent;
            svg,
            img {
              display: block;
              max-width: fit-content;
              width: 20px;
              height: 20px;
            }
          }
          .network-item {
            display: flex;
            align-items: center;
            gap: 10px;
            svg,
            img {
              height: 25px;
              width: 25px;
            }
          }
          .menu-item {
            img {
              width: 25px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .content {
    min-height: calc(100vh - 130px);
    padding: 80px 20px 20px 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .footer {
    display: flex;
    justify-content: center;
    .footer-body {
      @include container;
      margin: 0 25px;
      padding-top: 50px;
      padding-bottom: 100px;
      display: flex;
      align-items: center;
      gap: 0 200px;
      @include to(lg) {
        gap: 50px;
      }
      @include to(md) {
        flex-direction: column;
      }
      .footer-logo {
        height: 200px;
        object-fit: contain;
        margin-right: 25px;
      }
      .footer-content {
        width: 100%;
        .footer-socials {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          padding: 30px 0;
          width: 100%;
          @include to(lg) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
          }
          @include to(md) {
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 20px;
          }
          @include to(xs) {
            grid-gap: 10px;
          }
          .footer-socials-item-wrapper {
            display: flex;
            justify-content: center;
            .footer-social-item {
              width: 56px;
              border-radius: 100%;
              aspect-ratio: 1/1;
              cursor: pointer;
              transition: 0.5s;
              img {
                width: 100%;
                object-fit: contain;
              }
              &:hover {
                transform: scale(1.1);
              }
              @include lg {
                width: 50%;
              }
            }
            .footer-social-item.none {
              opacity: 0.6;
              cursor: auto;
              &:hover {
                transform: scale(1);
              }
            }
          }
        }
        .footer-navs {
          display: flex;
          width: 100%;
          justify-content: space-evenly;
          .footer-nav-item {
            font-size: 24px;
            font-weight: 400;
            transition: 0.5s;
            cursor: pointer;
            &:not(:last-child) {
              margin-right: 20px;
            }
            &:hover {
              color: $purple2;
            }
            @include lg {
              font-size: 20px;
            }
            @include to(sm) {
              font-size: 16px;
            }
            @include to(xs) {
              font-size: 10px;
            }
          }
          .footer-nav-item.none {
            cursor: auto;
            color: $purple2;
          }
        }
      }
    }
  }
  .sub-footer {
    background: rgba(40, 38, 54, 0.6);
    @include blurBack(40px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .scroll-button {
    position: fixed;
    height: 50px;
    right: 1rem;
    bottom: 1rem;
    font-size: 30px;
    aspect-ratio: 1/1;
    animation: fadein 0.5s;
  }
}

.mobile-menu {
  background: linear-gradient(
    121.07deg,
    rgba(255, 255, 255, 0.3) -26.88%,
    rgba(255, 255, 255, 0.2) 73.85%
  ) !important;
  @include blurBackUnder(40px);
  .mobile-menu-header {
    .logo {
      height: 50px;
      margin-top: -20px;
      cursor: pointer;
    }
  }
  .mobile-menu-body {
    width: 100%;
    position: relative;
    .search-bar {
      .input {
        border-radius: 16px;
        margin-bottom: 10px;
      }
      .result-box {
        position: absolute;
        width: 90%;
        top: 60px;
        left: 5%;
        background: rgba($dark-purple, 0.2);
        border-radius: 16px;
        height: fit-content;
        max-height: 500px;
        overflow: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 99;
        @include blurBack(40px);
        .app-spinner {
          margin-top: -80px;
        }
        .collection-item:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    .mobile-menu-stack {
      margin-bottom: 20px;
      .mobile-menu-nav {
        justify-content: flex-start;
      }
      .mobile-menu-nav-item {
        margin-left: 20px;
        justify-content: flex-start;
      }
    }
  }
}
