.app-pagination {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  gap: 5px;
  .page-list {
    display: flex;
    gap: 5px;
  }
  .page-button {
    font-size: 16px;
    font-weight: 400;
    min-width: 40px;
    height: 40px;
    background: none;
    @include to(md) {
      width: 30px;
      height: 30px;
      font-size: 15px;
      font-weight: 400;
    }
    @include to(sm) {
      width: 30px;
      height: 30px;
    }
    @include to(sm) {
      padding: 0;
      width: 25px;
      height: 25px;
    }
  }
  .active {
    background: rgba(white, 0.1);
  }
  .page-size-button {
    font-size: 16px;
    font-weight: 400;
    background: none;
    height: 40px;
    @include to(md) {
      height: 30px;
      font-size: 12px;
    }
    @include to(sm) {
      display: none;
    }
  }
  .dot-button {
    background: transparent;
    transition: 1s;
    svg {
      display: none;
      animation: fadein 0.5s;
    }
    &:hover {
      span {
        display: none;
      }
      svg {
        display: block;
      }
    }
    @include to(md) {
      width: 30px;
      height: 30px;
      font-size: 15px;
    }
    @include to(sm) {
      width: 30px;
      height: 30px;
    }
    @include to(sm) {
      padding: 0;
      width: 25px;
      height: 25px;
    }
  }
}
