.collection-item {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid $purple2;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 25px;
  height: 150px;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
  @include to(md) {
    height: 100px;
  }
  .collection-image {
    height: 100%;
    aspect-ratio: 1/1;
    background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
    padding: 2px;
    border-radius: 100%;
    margin-right: 25px;
    position: relative;
    @include to(xs) {
      margin-right: 10px;
    }
    span {
      margin: 2px !important;
      height: 100%;
      width: 100%;
      border-radius: 100%;
      overflow: hidden;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
      }
    }
  }
  span {
    font-size: 24px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include to(xs) {
      font-size: 16px;
    }
  }
  .network {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    padding: 5px;
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
    .collection-image {
      img {
        transform: scale(1.1);
      }
    }
  }
}
