.getting-started-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  .item-image {
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
    img {
      width: 100%;
      object-fit: cover;
      transition: 0.5s;
    }
  }
  .item-title {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    transition: 0.5s;
  }
  &:hover {
    .item-image {
      box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.69);
      img {
        transform: scale(1.1);
      }
    }
    .item-title {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.69);
    }
  }
}
