.launchpad-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    99.92deg,
    rgba(#cd28e8, 0.5) 0%,
    rgba(#0bebd6, 0.5) 100%
  );
  @include blurBack(40px);
  height: fit-content;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    .launchpad-image img {
      transform: scale(1.1);
    }
  }
  .launchpad-image {
    background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
    padding: 2px;
    border-radius: 16px;
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    span {
      margin: 2px !important;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        transition: 0.5s;
      }
    }
  }
  .on-going {
    padding: 0 10px;
    background: #0bebd6;
    border-radius: 8px;
    background-size: 100% 100%;
    font-size: 18px;
    font-weight: 400;
    margin: 10px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  .up-coming {
    padding: 0 10px;
    background: #cd28e8;
    border-radius: 8px;
    background-size: 100% 100%;
    font-size: 18px;
    font-weight: 400;
    margin: 10px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  .launchpad-name {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include to(xs) {
      font-size: 25px;
    }
  }
  .launchpad-info {
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    @include to(sm) {
      height: 60px;
    }
    .launchpad-stats {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      @include to(sm) {
        flex-direction: column;
      }
      .stat {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 16px;
        span {
          font-weight: 700;
          margin-right: 5px;
        }
        svg {
          height: 20px;
          margin-right: 10px;
          @include to(xs) {
            margin-right: 1px;
          }
        }
      }
    }
    .start-in {
      span {
        font-size: 18px;
        font-weight: 300;
        @include to(xs) {
          font-size: 16px;
        }
      }
      span:first-child {
        font-weight: 700;
        margin-right: 5px;
      }
    }
  }
}
