.listing-bar {
  height: 64px;
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
  padding: 2px;
  transition: 0.5s;
  .listing-body {
    margin: auto;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    background: $dark-purple;
    position: relative;
    padding-left: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .listing-label {
      position: absolute;
      width: 100px;
      height: 40px;
      left: 0;
      top: calc(50% - 20px);
      background: $purple1;
      border-radius: 0 20px 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 400;
    }
    img {
      height: 40px;
    }
    .listing-content {
      margin-left: 20px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      .marquee-content {
        font-size: 16px;
        font-weight: 400;
        line-height: 1em;
        @include to(md) {
          white-space: nowrap;
          animation: marquee 5s linear infinite;
        }
      }
    }
    .cyan-text {
      color: $cyan;
    }
    .time {
      padding: 20px;
      width: 20em;
      text-align: right;
      text-decoration: underline;
      @include to(xs) {
        font-size: 12px;
      }
    }
  }
}
