.nft-item {
  width: 100%;
  border: 1px solid $purple2;
  background: linear-gradient(
    177.34deg,
    rgba(0, 0, 0, 0.2) 2.22%,
    rgba(255, 255, 255, 0) 97.78%
  );
  border-radius: 16px;
  @include blurBack(40px);
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  .network {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    padding: 5px;
    svg,
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .nft-image {
    width: 100%;
    height: 170px;
    overflow: hidden;
    position: relative;
    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: 0.5s;
    }
    .nft-network {
      position: absolute;
      top: 10px;
      right: 8px;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      padding: 4px;
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
  .nft-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    .provider {
      font-size: 16px;
      font-weight: 400;
      display: flex;
      color: $cyan;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .algin-center {
        width: 100%;
        a {
          word-break: break-all;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      svg,
      img {
        height: 12px;
        margin-left: 5px;
      }
    }
    .name {
      text-align: left;
      font-size: 20px;
      font-weight: 500;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include to(xs) {
        font-size: 16px;
        align-self: center;
      }
    }
    .end-in {
      display: flex;
      align-items: center;
      font-weight: 300;
      font-size: 14px;
      height: 16px;
      span {
        font-weight: 700;
        margin-right: 1px;
      }
    }
    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      line-height: 16px;
      white-space: nowrap;
      font-weight: 400;
      margin: 5px 0;
      height: 50px;
      span {
        display: flex;
        align-items: center;
        svg,
        img {
          height: 16px;
          width: 16px;
          margin-right: 5px;
        }
      }
      button {
        height: 32px;
        width: 100%;
        max-width: 80px;
        background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
      }
    }
  }
  &:hover {
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.69);
    .nft-image {
      img,
      video {
        transform: scale(1.1);
      }
    }
  }
}
