.page-spinner {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  max-width: 100vw;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: $purple1;
}
