.ranking-list {
  h1 {
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: SVN-Transformer;
    margin-top: 30px;
  }
  .nft-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-gap: 8px;
    .app-select.network {
      .placeholder {
        flex-wrap: nowrap;
        display: flex;
        align-items: center;
        img {
          width: 20px;
          margin-right: 12px;
        }
      }
      .network {
        display: flex;
        align-items: center;
        img {
          width: 20px;
          height: 20px;
          margin-right: 20px;
        }
      }
    }
  }
  .chakra-table {
    tbody {
      tr {
        .collection {
          display: flex;
          align-items: center;
          color: #0bebd6;
          cursor: pointer;
          img {
            width: 56px;
            height: 56px;
            border-radius: 50%;
          }
          span {
            margin-left: 10px;
            white-space: nowrap;
          }
          .border-rgba {
            padding: 2px;
            border-radius: 50%;
            background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
          }
        }
      }
    }
  }
  .app-pagination {
    margin-top: 30px;
  }
}
