.activities-page {
  width: 100%;
  margin: 44px auto auto;
  max-width: 1242px;
  background: transparent;
  margin-top: 45px;
  h1 {
    &.activities {
      font-size: 72px;
      font-weight: 700;
      font-family: SVN-Transformer;
      transition: 0.5s;
      text-transform: uppercase;
      margin-top: 30px;
      @include to(sm) {
        font-size: 50px;
      }
    }
  }
}
.table-activity {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
  font-style: normal;
  color: #ffffff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  thead {
    tr {
      border-bottom: 1px solid #d7d7d7 !important;
      th {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
        font-family: Saira;
        text-transform: capitalize;
        padding-top: 25px;
        border-bottom-color: #d7d7d7;
        border: none;
      }
    }
  }
  tr {
    border-bottom: 1px solid #d7d7d7;
    &:last-child {
      border-bottom: 0px;
    }
  }
  td {
    border-bottom: none;
    font-size: 18px;
    line-height: 28px;

    .type {
      img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
      }
      span {
        cursor: pointer;
      }
    }
    .date {
      cursor: pointer;
      img {
        margin-left: 15px;
      }
    }
  }
}
.align-center {
  display: flex;
  align-items: center;
}
.bold {
  font-weight: 600;
}
.sort {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  .app-select.network {
    .placeholder {
      flex-wrap: nowrap;
      display: flex;
      align-items: center;
      img {
        width: 20px;
        margin-right: 12px;
      }
    }
    .network {
      display: flex;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
        margin-right: 20px;
      }
    }
  }
}
.auction {
  .address {
    img {
      max-width: 55px;
    }
  }
}
