.discover-page {
  background: transparent;
  width: 100%;
  margin: 44px auto auto;
  max-width: 1242px;
  h1 {
    &.discover {
      font-size: 72px;
      font-weight: 700;
      font-family: SVN-Transformer;
      transition: 0.5s;
      text-transform: uppercase;
      margin-top: 30px;

      @include to(sm) {
        font-size: 50px;
      }
    }
  }
  .discover-sort {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include to(sm) {
      display: block;
    }
    p {
      font-size: 20px;
      line-height: 31px;
      color: #ffffff;
    }
    .sorts {
      display: flex;
      gap: 8px;
      @include to(xs) {
        display: block;
      }
      .app-select.network {
        .placeholder {
          flex-wrap: nowrap;
          display: flex;
          align-items: center;
          img {
            width: 20px;
            margin-right: 12px;
          }
        }
        .network {
          display: flex;
          align-items: center;
          img {
            width: 20px;
            height: 20px;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
.grid-custom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  grid-auto-flow: row;
  width: 100%;
  flex-direction: column;
  margin-top: 35px;
  margin-bottom: 35px;
}
