.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  .error-code {
    font-family: SVN-Transformer;
    font-size: 300px;
    line-height: 300px;
    font-weight: bold;
    animation: swing 2s, blink 2s linear infinite;
    @include to(xs) {
      font-size: 200px;
    }
  }
  .error-description {
    font-size: 30px;
    font-weight: 700;
    animation: fadeInUp 1s;
    @include to(xs) {
      font-size: 20px;
    }
  }
}

@keyframes blink {
  from {
    text-shadow: 0 0 30px $purple3;
  }
  to {
    text-shadow: 0 0 30px $cyan;
  }
}
