.home-page {
  @include container;
  .banner-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    top: 95px;
    width: 100%;
    .banners {
      width: 100%;
      max-width: 1920px;
      .banner-border {
        overflow: hidden;
        margin: 15px;
        height: 200px;
        width: 300px;
        background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
        border-radius: 10px;
        position: relative;
        span {
          margin: 2px !important;
          height: 100%;
          border-radius: 10px;
          overflow: hidden;
          .banner-image {
            background: $dark-purple;
            height: 100%;
            width: 100%;
            cursor: pointer;
            transition: 0.5s;
            transform: scale(1.1);
            object-fit: cover;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
        .network {
          position: absolute;
          top: 10px;
          right: 10px;
          width: 32px;
          height: 32px;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 100%;
          padding: 5px;
          svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .even-banner {
        margin-top: 50px;
      }
    }
  }
  .listing-bar {
    margin-top: 260px;
    margin-bottom: 30px;
  }
  .home-section {
    margin-bottom: 100px;
    .section-heading {
      font-size: 72px;
      font-weight: 700;
      font-family: SVN-Transformer;
      transition: 0.5s;
      @include to(sm) {
        font-size: 50px;
      }
    }
    .section-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      .view-all {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 700;
        color: $light-cyan;
        transition: 0.5s;
        cursor: pointer;
        svg {
          height: 40px;
          margin-right: 20px;
          fill: $light-cyan;
          transition: 0.5s;
        }
        &:hover {
          color: $cyan;
          text-shadow: 0px 0px 20px #68fff1;
          svg {
            fill: $cyan;
          }
        }
        @include to(xs) {
          font-size: 16px;
          svg {
            height: 20px;
            margin-right: 5px;
          }
        }
      }
    }
    .slick-slider {
      width: calc(100% + 20px);
      margin-top: 25px;
      margin-left: -10px;
      .slick-list {
        .slick-track {
          .slick-slide > div {
            padding: 10px;
          }
        }
      }
    }
    .arrow-btn {
      position: absolute;
      top: -70px;
      font-size: 40px;
      height: 50px;
      width: 50px;
    }
    .arrow-prev {
      right: 70px;
    }
    .arrow-next {
      right: 10px;
    }
  }
  .banners,
  .launchpad,
  .listing {
    animation: fadein 1s;
  }
  .scrolled {
    animation: fadeUp 1.5s;
  }
}
