.my-nft {
  width: 100%;
  margin: auto;
  margin-top: 44px;
  max-width: 1242px;
  @include to(md) {
    margin-top: 36px;
  }
  .account-other {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
    @include to(md) {
      margin-bottom: 48px;
    }
    @include to(sm) {
      flex-flow: column;
    }
    .info {
      display: flex;
      align-items: center;
      @include to(sm) {
        flex-flow: column;
        margin-bottom: 20px;
      }
      .left-border {
        margin-right: 37px;
        padding: 2px;
        border-radius: 50%;
        width: fit-content;
        height: fit-content;
        background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
        @include to(md) {
          margin-right: 28px;
        }
        @include to(sm) {
          margin: 0;
          margin-bottom: 16px;
        }
        .left {
          width: 153px;
          @include to(md) {
            width: 130px;
          }
        }
      }
      .right {
        display: flex;
        .name-id {
          margin-right: 20px;
          @include to(md) {
            margin-right: 16px;
          }
          h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            @include to(md) {
              font-size: 32px;
              line-height: 36px;
            }
          }
          .border {
            margin-top: 17px;
            padding: 2px;
            border-radius: 8px;
            background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
            width: fit-content;
            height: fit-content;
          }
          .bottom {
            background: #030348;
            height: 48px;
            min-width: 230px;
            width: 100%;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;
            cursor: pointer;
            @include to(md) {
              height: 44px;
              min-width: 200px;
            }
            span {
              font-weight: 400;
              font-size: 18px;
              line-height: 29px;
              @include to(md) {
                font-size: 16px;
                list-style: 24px;
              }
            }
          }
        }
        .social {
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          .vip {
            width: 50px;
            @include to(md) {
              width: 40px;
            }
          }
          .list {
            display: flex;
            margin-bottom: 4px;
            margin-left: 8px;
            img {
              cursor: pointer;
              width: 32px;
              margin-right: 18px;
              @include to(md) {
                width: 28px;
                margin-right: 14px;
              }
            }
          }
        }
      }
    }
    button {
      background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
      border-radius: 8px;
      width: 167px;
      height: 56px;
      font-weight: 500;
      font-size: 24px;
      line-height: 38px;
      text-transform: uppercase;
      @include to(md) {
        width: 140px;
        height: 48px;
        font-size: 20px;
        line-height: 32px;
      }
    }
  }
  .account {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
    .left-border {
      margin-right: 37px;
      padding: 2px;
      border-radius: 50%;
      width: fit-content;
      height: fit-content;
      background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
      .left {
        width: 153px;
      }
    }
    .right {
      .top {
        display: flex;
        align-items: center;
        h2 {
          font-weight: 700;
          font-size: 36px;
          line-height: 42px;
          margin-right: 21px;
        }
        img {
          width: 50px;
        }
      }
      .border {
        margin-top: 17px;
        padding: 2px;
        border-radius: 8px;
        background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
        width: fit-content;
        height: fit-content;
      }
      .bottom {
        background: #030348;
        height: 48px;
        width: 230px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        cursor: pointer;
        span {
          font-weight: 400;
          font-size: 18px;
          line-height: 29px;
        }
      }
    }
  }
  .app-select.network {
    .placeholder {
      flex-wrap: nowrap;
      display: flex;
      align-items: center;
      img {
        width: 20px;
        margin-right: 12px;
      }
    }
    .network {
      display: flex;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
        margin-right: 20px;
      }
    }
  }
  .container {
    .nodata {
      margin: auto;
      margin-top: 70px;
      width: 50%;
      max-width: 600px;
      margin-bottom: 100px;
    }
    .chakra-tabs__tab-panel {
      padding: 0;
    }
    .chakra-tabs__tablist {
      border: none;
      min-width: 700px;
      width: 80%;
      margin: auto;
      margin-bottom: 56px;
      @include to(sm) {
        margin-bottom: 40px;
        min-width: auto;
        width: 100%;
      }
      button {
        transition: all 1s;
        width: 20%;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
        @include to(sm) {
          width: 20%;
          font-size: 16px;
          line-height: 36px;
          padding: 2px 4px;
        }
        @include to(xs) {
          width: fit-content;
          font-size: 16px;
          line-height: 36px;
          padding: 2px 6px;
        }
        &:focus {
          box-shadow: none;
        }
        &:active {
          background-color: transparent;
        }
      }
      button[aria-selected="true"] {
        color: #0bebd6;
      }
    }
    h3 {
      font-family: SVN-Transformer;
      font-weight: 700;
      font-size: 72px;
      line-height: 83px;
      @include to(md) {
        font-size: 64px;
        line-height: 70px;
      }
    }
    .tab {
      .tab-sort {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include to(sm) {
          flex-flow: column;
          align-items: flex-start;
        }
        .chakra-tabs__tablist {
          display: flex;
          justify-content: flex-start !important;
          margin: 0;
          width: fit-content;
          min-width: auto;
          @include to(sm) {
            margin-bottom: 20px;
          }
          button {
            width: 120px;
            font-weight: 600;
            font-size: 18px;
            line-height: 29px;
            text-align: center;
            white-space: nowrap;
          }
        }
        .right {
          display: flex;
          justify-items: flex-end;
          gap: 8px;
        }
      }
    }
    .offering-auction {
      .list {
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 24px;
        @include to(lg) {
          grid-template-columns: repeat(4, 1fr);
        }
        @include to(md) {
          grid-template-columns: repeat(3, 1fr);
        }
        @include to(sm) {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
    .offering-make {
      .border {
        border-radius: 10px;
        border: 1px solid #d7d7d7;
      }
      margin-top: 40px;
      min-width: 1000px;
      overflow-x: auto;
      .to {
        color: #0bebd6;
      }
      .item {
        display: flex;
        align-items: center;
        img {
          width: 50px;
          margin-right: 17px;
        }
        div {
          p {
            img {
              display: inline-block;
              width: 10px;
              margin-left: 7px;
            }
          }
        }
      }
      .button {
        border-radius: 8px;
        width: fit-content;
        background-image: linear-gradient(300deg, #78e4ff, #ff48fa);
        height: fit-content;
        padding: 1px;
        button {
          width: 100px;
          height: 32px;
          box-shadow: 2px 1000px 1px #353571 inset !important;
          border-radius: 8px;
        }
      }
    }
    .tab-collected,
    .tab-favorite {
      .grid-custom {
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 24px;
        @include to(lg) {
          grid-template-columns: repeat(4, 1fr);
        }
        @include to(md) {
          grid-template-columns: repeat(3, 1fr);
        }
        @include to(sm) {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      .hidden {
        visibility: hidden;
      }
      .sort {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        @include to(sm) {
          display: block;
        }
        .group-search {
          height: 38px;
          border: 1px solid #d7d7d7;
          box-sizing: border-box;
          border-radius: 8px;
          margin-right: 14px;
          width: 300px;
          @include to(sm) {
            width: 100%;
            margin-bottom: 10px;
          }
          input {
            border: 0px;
          }
        }
        .price-sort,
        .type-sort {
          @include to(sm) {
            width: 100%;
            margin-bottom: 10px;
          }
          button {
            @include to(sm) {
              width: 100%;
            }
          }
          .css-r6z5ec {
            @include to(sm) {
              width: 90%;
            }
          }
        }
      }
    }
    .tab-on-sale {
      .table-activity {
        td {
          padding: 16px 12px;
        }
        .align-center.item {
          p {
            color: #fff;
          }
          p.animverse {
            color: #0bebd6;
          }
          img {
            width: 50px;
            height: 40px;
            border-radius: 8px;
          }
        }
      }
      .to {
        color: #0bebd6;
      }
      .grid-custom {
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 24px;
        @include to(lg) {
          grid-template-columns: repeat(4, 1fr);
        }
        @include to(md) {
          grid-template-columns: repeat(3, 1fr);
        }
        @include to(sm) {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      .tab-os {
        position: relative;
        .header-tab {
          display: flex;
          justify-content: flex-start !important;
          margin: 0;
          right: 0;
          button {
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;
            width: auto;
          }
        }
        .sort {
          display: flex;
          position: absolute;
          top: 20px;
          right: 0;
          gap: 8px;
        }
      }
    }
    .tab-activities {
      margin-top: 40px;
      .border {
        border-radius: 10px;
        border: 1px solid #d7d7d7;
        overflow: hidden;
      }
      tbody {
        tr {
          .date {
            img {
              display: inline-block;
              margin-left: 8px;
              vertical-align: middle;
              cursor: pointer;
            }
          }
          .to {
            color: #0bebd6;
          }
          .item {
            img {
              width: 50px;
              height: 40px;
              display: inline-block;
              padding: 6x 13px;
              background: rgba(125, 117, 208, 0.5);
              border-radius: 8px;
              margin-right: 17px;
              vertical-align: middle;
            }
          }
        }
      }
      .nodata {
        margin: auto;
        margin-top: 70px;
        width: 50%;
        max-width: 600px;
        margin-bottom: 100px;
      }
    }
  }
  .app-pagination {
    margin-top: 35px;
  }
}
.algin-center {
  display: flex;
  align-items: center;
}
.dialog-confirm {
  margin-top: 50vh !important;
  transform: translateY(-50%) !important;
  background: linear-gradient(
    126.08deg,
    rgba(255, 255, 255, 0.3) 13.84%,
    rgba(255, 255, 255, 0.2) 74.14%
  ) !important;
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(40px);
  border-radius: 10px !important;
  header {
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    color: #ffffff;
  }
  button {
    &.chakra-modal__close-btn {
      background: none !important;
    }
  }
  .form-auction {
    p {
      .price {
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
      }
    }
    input {
      border: 1px solid #d7d7d7;
      box-sizing: border-box;
      border-radius: 8px 0 0 8px;
    }
    .chakra-input__right-addon {
      border: 1px solid #d7d7d7;
    }
    .desc {
      font-size: 14px;
      line-height: 22px;
      color: #ffffff;
    }
  }
  footer {
    justify-content: center;
    button {
      background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
      border-radius: 8px;
      font-weight: 600;
      font-size: 20px;
      line-height: 38px;
      text-align: center;
      color: #ffffff;
      width: 130px;
      height: 40px;
    }
  }
  .form-buy {
    display: flex;
    justify-content: space-between;
    p {
      &.label-price {
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
      }
      &.price {
        font-weight: 600;
        font-size: 36px;
        line-height: 115%;
        text-align: right;
        color: #0bebd6;
        p {
          font-size: 20px;
          line-height: 31px;
          text-align: right;
          color: #ffffff;
          font-weight: normal;
        }
      }
    }
  }
  &.dialog-alert {
    header {
      &::after {
        border-bottom: none;
      }
    }
    .alert-content {
      text-align: center;
      img {
        margin: auto;
      }
      .title {
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        color: #ffffff;
      }
      .desc {
        font-size: 16px;
        line-height: 22px;
        color: #ffffff;
      }
    }
    button {
      margin-right: 0;
    }
  }
}
.table-activity {
  margin-top: 35px;
  table {
    tbody {
      tr {
        td {
          .name-item {
            margin-left: 10px;
            color: #0bebd6;
            .animverse {
              display: flex;
              align-items: center;
              color: #0bebd6;

              svg {
                height: 15px;
                margin-left: 5px;
              }
            }
          }

          button {
            width: 100px;
            font-weight: 500;
            font-size: 16px;
            line-height: 25px;
            text-align: justify;
            color: #ffffff;

            &.accept {
              background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
              border-radius: 8px;
              margin-right: 8px;
            }

            &.cancel {
              border-radius: 8px;
              border: solid 1px transparent !important;
              background-image: linear-gradient(300deg, #78e4ff, #ff48fa);
              background-origin: border-box;
              box-shadow: 2px 1000px 1px #353571 inset !important;
            }
          }
        }
      }
    }
  }
}
