.nft-details {
  @include container;
  margin: 25px 0;
  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    margin-bottom: 50px;
    @include to(lg) {
      grid-template-columns: 1fr;
    }
    .details-card {
      width: 100%;
      height: 100%;
      margin-bottom: 20px;
      @include to(lg) {
        order: 2;
      }
      .details-image {
        background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
        padding: 3px;
        width: 100%;
        height: 600px;
        border-radius: 16px;
        margin-bottom: 30px;
        overflow: hidden;
        position: relative;
        img,
        video {
          background: $dark-purple;
          height: 100%;
          width: 100%;
          object-fit: contain;
          border-radius: 16px;
        }
        .heart {
          position: absolute;
          top: 30px;
          right: 27px;
          width: 40px;
          height: 30px;
          cursor: pointer;
          &:hover {
            stroke: $purple1;
          }
          &:active {
            fill: $purple1;
          }
        }
        .heart-liked {
          stroke: $purple1;
          fill: $purple1;
          &:active {
            stroke: white;
            fill: transparent;
          }
        }
      }
      .nft-description {
        font-size: 16px;
        font-weight: 400;
        text-align: justify;
      }
    }
    .details-content {
      width: 100%;
      height: 100%;
      .collection {
        display: flex;
        align-items: center;
        gap: 10px;
        .collection-logo {
          background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
          padding: 1px;
          border-radius: 100%;
          height: 50px;
          width: 50px;
          img {
            border-radius: 100%;
            width: 100%;
            height: 100%;
          }
        }
        a {
          font-size: 24px;
          font-weight: 500;
        }
      }
      .name {
        margin-top: 10px;
        font-family: SVN-Transformer;
        font-size: 50px;
        line-height: 60px;
        transition: 0.1s;
        @include to(sm) {
          font-size: 40px;
        }
      }
      .owner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        a {
          color: $cyan;
        }
        .owner-stat {
          display: flex;
          align-items: center;
          span {
            margin-right: 5px;
          }
          svg:not(:last-child) {
            margin-right: 20px;
          }
        }
      }
      .buy-tray {
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
        border-radius: 16px;
        padding: 2px;
        margin: 20px 0;
        background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
        .buy-tray-body {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: $dark-purple;
          border-radius: 16px;
          padding: 15px;
          .price {
            display: flex;
            flex-direction: column;
            span:not(:first-child, :last-child) {
              font-size: 18px;
              font-weight: 400;
            }
            span:nth-child(2) {
              font-size: 40px;
              font-weight: 700;
              line-height: 40px;
              color: $cyan;
              transition: 0.1s;
              @include to(xs) {
                font-size: 20px;
                line-height: 20px;
              }
            }
          }
          .buy-nav {
            display: flex;
            flex-direction: column;
            button {
              background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
              margin-bottom: 10px;
              min-width: 160px;
            }
            span {
              font-size: 14px;
              color: $cyan;
              text-decoration: underline;
              cursor: pointer;
            }
            &.flex-row {
              flex-direction: row;
              button {
                min-width: auto;
                &:first-child {
                  margin-right: 10px;
                }
                &:last-child {
                  border: solid 1px transparent !important;
                  background-image: linear-gradient(300deg, #78e4ff, #ff48fa);
                  background-origin: border-box;
                  box-shadow: 2px 1000px 1px #030348 inset !important;
                }
              }
            }
          }
        }
      }
      .auc-tray {
        position: relative;
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
        border-radius: 16px;
        padding: 2px;
        margin-top: 20px;
        margin-bottom: 50px;
        background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
        .auc-tray-body {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: $dark-purple;
          border-radius: 16px;
          padding: 15px;
          .price {
            display: flex;
            flex-direction: column;
            span:not(:first-child, :last-child) {
              font-size: 18px;
              font-weight: 400;
            }
            span:nth-child(2) {
              font-size: 40px;
              font-weight: 700;
              line-height: 40px;
              color: $cyan;
              transition: 0.1s;
              @include to(xs) {
                font-size: 20px;
                line-height: 20px;
              }
            }
          }
          .auc-nav {
            display: flex;
            flex-direction: column;
            button {
              background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
              margin-bottom: 10px;
              min-width: 160px;
            }
            span {
              font-size: 14px;
              color: $cyan;
              text-decoration: underline;
              cursor: pointer;
            }
            &.flex-row {
              flex-direction: row;
              button {
                min-width: auto;
                &:first-child {
                  margin-right: 10px;
                }
                &:last-child {
                  border: solid 1px transparent !important;
                  background-image: linear-gradient(300deg, #78e4ff, #ff48fa);
                  background-origin: border-box;
                  box-shadow: 2px 1000px 1px #030348 inset !important;
                }
              }
            }
          }
        }
        .auction-end {
          position: absolute;
          right: 0;
          bottom: -35px;
          font-size: 20;
          span {
            font-weight: 700;
          }
        }
      }
      .owner-tray {
        margin: 20px 0;
        .actions {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          button {
            background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
            width: calc(100% / 3);
          }
        }
        .change-price {
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
          border-radius: 16px;
          padding: 2px;
          margin: 20px 0;
          background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
          .change-price-body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $dark-purple;
            border-radius: 16px;
            padding: 15px;
            .price {
              display: flex;
              flex-direction: column;
              span:not(:first-child, :last-child) {
                font-size: 18px;
                font-weight: 400;
              }
              span:nth-child(2) {
                font-size: 40px;
                font-weight: 700;
                line-height: 40px;
                color: $cyan;
                transition: 0.1s;
                @include to(xs) {
                  font-size: 20px;
                  line-height: 20px;
                }
              }
            }
            .price-nav {
              display: flex;
              gap: 10px;
              .change-price-btn {
                background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
                min-width: 120px;
              }
              .cancel {
                background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
                border-radius: 8px;
                padding: 1px;
                button {
                  background: $dark-purple;
                  border-radius: 8px;
                }
              }
            }
          }
        }
        .auc-action {
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
          border-radius: 16px;
          padding: 2px;
          margin: 20px 0;
          background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
          .auc-action-body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $dark-purple;
            border-radius: 16px;
            padding: 15px;
            .price {
              display: flex;
              flex-direction: column;
              span:not(:first-child, :last-child) {
                font-size: 18px;
                font-weight: 400;
              }
              span:nth-child(2) {
                font-size: 40px;
                font-weight: 700;
                line-height: 40px;
                color: $cyan;
                transition: 0.1s;
                @include to(xs) {
                  font-size: 20px;
                  line-height: 20px;
                }
              }
            }
            .price-nav {
              display: flex;
              gap: 10px;
              .auc-action-btn {
                background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
                min-width: 120px;
              }
              .cancel {
                background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
                border-radius: 8px;
                padding: 1px;
                button {
                  background: $dark-purple;
                  border-radius: 8px;
                }
              }
            }
          }
        }
      }
      .details-stats {
        position: relative;
        padding: 25px;
        background: linear-gradient(
          83.72deg,
          rgba(11, 235, 214, 0) 9.83%,
          rgba(#cd28e8, 0.2) 95.17%
        );
        border: 2px solid $purple2;
        border-radius: 16px;
        h1 {
          font-size: 36px;
          font-weight: 700;
        }
        .stat {
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            font-size: 16px;
            font-weight: 500;
            @include to(xs) {
              font-size: 16px;
            }
          }
          span:last-child {
            font-weight: 400;
            display: flex;
            align-items: center;
            svg {
              color: $cyan;
              margin-left: 10px;
              cursor: pointer;
              transition: 0.5s;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
  .tables {
    .align-center.item {
      img {
        width: 54px;
        height: 54px;
      }
    }
    .app-pagination {
      margin-top: 25px;
    }
    .to {
      color: #0bebd6;
    }
    .filter-row {
      display: flex;
      justify-content: flex-end;
      margin: 20px 0;
      .filter {
        width: 100%;
        max-width: 200px;
        text-align: right;
      }
    }
    .data-table {
      margin: 20px 0;
      .item-column {
        display: flex;
        align-items: center;
        img {
          width: 54px;
        }
        button {
          padding: 5px;
          margin-right: 10px;
          svg {
            height: 100%;
          }
        }
      }
    }
  }
  .date-column {
    display: flex;
    align-items: center;
    svg {
      color: $cyan;
      margin-left: 10px;
    }
  }
}
.fixed-price {
  .img {
    display: flex;
    align-items: flex-end;
    margin-bottom: 26px;
    .right {
      margin-left: 22px;
      font-weight: 500;
      font-size: 24px;
      line-height: 38px;
      color: #ffffff;
      .animverse {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #0bebd6;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        img {
          margin-left: 7px;
        }
      }
    }
  }
  .price {
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
  }
  p {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
  .convert {
    margin-bottom: 10px;
  }
  .price-floor {
    margin-bottom: 26px;
  }
  .fees {
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    color: #ffffff;
    margin-bottom: 3px;
  }
  .desc-fees {
    margin-bottom: 18px;
  }
  .card-fees {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 18px 23px;
    p {
      display: flex;
      justify-content: space-between;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 8px;
    }
  }
  .card-price {
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px 16px;
    margin-bottom: 20px;
    button {
      margin-right: 10px;
      &:first-child {
        background: #383874;
        border-radius: 8px;
      }
    }
  }
}

.buy-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  .price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    .price-col {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      h1 {
        font-size: 36px;
        font-weight: 600;
        line-height: 36px;
        color: $cyan;
      }
    }
  }
  button,
  button:hover {
    background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
    margin-bottom: 20px;
  }
}

.auc-modal {
  display: flex;
  flex-direction: column;
  .chakra-numberinput {
    width: 100%;
  }
  p {
    margin-bottom: 20px;
    font-size: 14px;
  }
  button,
  button:hover {
    align-self: center;
    background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
    margin-bottom: 20px;
  }
}

.fixed-price-modal {
  display: flex;
  flex-direction: column;
  .modal-head {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 20px;
    .info-img {
      width: 100px;
      height: 100px;
      background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
      border-radius: 16px;
      overflow: hidden;
      padding: 2px;
      img {
        border-radius: 15px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info-text {
      p {
        font-size: 14px;
        color: $cyan;
        line-height: 14px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        svg {
          height: 14px;
          margin-left: 5px;
        }
      }
      h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
  .chakra-numberinput {
    width: 100%;
  }
  p {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 20px;
    font-weight: 600;
  }
  .fee-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 16px;
    margin-bottom: 20px;
    span {
      width: 100%;
      display: flex;
      justify-content: space-between;
      p {
        margin-bottom: 0;
      }
    }
  }
  button {
    align-self: center;
    background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
    margin-bottom: 20px;
  }
}

.auction-modal {
  display: flex;
  flex-direction: column;
  .modal-head {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 20px;
    .info-img {
      width: 100px;
      height: 100px;
      background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
      border-radius: 16px;
      overflow: hidden;
      padding: 2px;
      img {
        border-radius: 15px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info-text {
      p {
        font-size: 14px;
        color: $cyan;
        line-height: 14px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        svg {
          height: 14px;
          margin-left: 5px;
        }
      }
      h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
  .chakra-numberinput {
    width: 100%;
  }
  .duration {
    height: 50px;
    width: 100%;
    border: 1px solid white;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    button {
      background: none;
      margin: 0;
      &:hover,
      &:focus {
        background: rgba(black, 0.3);
      }
    }
  }
  p {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 20px;
    font-weight: 600;
  }
  .fee-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    span {
      width: 100%;
      display: flex;
      justify-content: space-between;
      p {
        margin-bottom: 0;
      }
    }
  }
  button {
    align-self: center;
    background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
    margin-bottom: 20px;
  }
}

.send-modal {
  display: flex;
  flex-direction: column;
  .modal-head {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 20px;
    .info-img {
      width: 100px;
      height: 100px;
      background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
      border-radius: 16px;
      overflow: hidden;
      padding: 2px;
      img {
        border-radius: 15px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info-text {
      p {
        font-size: 14px;
        color: $cyan;
        line-height: 14px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        svg {
          height: 14px;
          margin-left: 5px;
        }
      }
      h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
  input {
    width: 100%;
  }
  label {
    font-size: 14px;
  }
  button {
    margin: 20px 0;
    background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
  }
}

.result-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  .success-icon {
    font-size: 50px;
    margin-top: 20px;
  }
  h1 {
    font-size: 24px;
    font-weight: 500;
  }
  p {
    font-size: 16px;
  }
  button,
  button:hover {
    margin-top: 20px;
    background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
    margin-bottom: 20px;
  }
}

.offer-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    align-self: flex-start;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .chakra-numberinput {
    width: 100%;
  }
  button,
  button:hover {
    margin: 20px 0;
    background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
  }
}
