.chakra-tabs.setting {
  width: 100%;
  max-width: 1242px;
  display: flex;
  align-items: flex-start;
  margin-top: 53px;
  @include to(sm) {
    margin-top: 40px;
    flex-flow: column;
  }
  .chakra-tabs__tablist {
    width: 300px;
    height: 100%;
    justify-content: flex-start !important;
    display: flex;
    flex-flow: column;
    border-right: 1px solid #fff;
    @include to(sm) {
      width: 100%;
      flex-flow: row;
      border: none;
      margin-bottom: 45px;
    }
    button {
      padding: 0;
      padding-left: 16px;
      display: flex;
      height: 72px;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      opacity: 0.5;
      font-size: 24px;
      font-weight: 600;
      line-height: 38px;
      color: #fff;
      @include to(sm) {
        font-weight: 500;
        font-size: 20px;
        height: 52px;
        padding-left: 8px;
      }
      img {
        width: 24px;
        margin-right: 12px;
        @include to(sm) {
          width: 16px;
          margin-right: 6px;
        }
      }
    }
    .chakra-tabs__tab[aria-selected="true"] {
      opacity: 1;
      color: #fff;
      border: none;
      border-radius: 16px 0px 0px 16px;
      background-color: rgba($color: #fff, $alpha: 0.1);
      @include to(sm) {
        border-radius: 16px;
      }
    }
  }
  .chakra-tabs__tab-panel.profile {
    padding: 0;
    margin-left: 60px;
    @include to(sm) {
      margin-left: 0;
    }
    h1 {
      font-weight: 700;
      font-size: 72px;
      line-height: 83px;
      margin-top: -15px;
      margin-bottom: 20px;
      font-family: SVN-Transformer;
      text-transform: uppercase;
      @include to(sm) {
        font-size: 36px;
        margin-bottom: 16px;
        line-height: 50px;
      }
    }
    .info {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      @include to(sm) {
        margin-bottom: 16px;
      }
      .border {
        width: 150px;
        height: 150px;
        margin-right: 30px;
        border-radius: 100%;
        padding: 2px;
        background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          @include to(sm) {
            width: 80px;
          }
        }
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        @include to(sm) {
          font-size: 15px;
          line-height: 24px;
        }
        label {
          color: #0bebd6;
          border-bottom: 1px solid #0bebd6;
        }
      }
    }
    .chakra-form-control {
      .chakra-form__label {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 7px;
        line-height: 29px;
        @include to(sm) {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 5px;
        }
      }
      .chakra-input {
        margin-bottom: 16px;
        height: 48px;
        @include to(sm) {
          margin-bottom: 12px;
          height: 40px;
        }
      }
      .social {
        margin-top: 40px;
        @include to(sm) {
          margin-top: 28px;
        }
        h6 {
          font-weight: 500;
          font-size: 24px;
          line-height: 38px;
          margin-bottom: 4px;
          @include to(sm) {
            font-size: 20px;
            line-height: 32px;
          }
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 24px;
          @include to(sm) {
            font-size: 13px;
            line-height: 20px;
            margin-bottom: 20px;
          }
        }
      }
      .chakra-input[type="submit"] {
        cursor: pointer;
        outline: 0;
        border: none;
        margin-top: 24px;
        width: 167px;
        height: 56px;
        background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 24px;
        line-height: 38px;
        @include to(sm) {
          height: 48px;
          font-size: 20px;
          line-height: 32px;
          margin-top: 20px;
        }
      }
    }
  }
  .chakra-tabs__tab-panel.notification {
    padding: 0;
    margin-left: 60px;
    @include to(sm) {
      margin-left: 0;
    }
    h1 {
      font-weight: 700;
      font-size: 72px;
      line-height: 83px;
      margin-top: -15px;
      margin-bottom: 22px;
      font-family: SVN-Transformer;
      text-transform: uppercase;
      @include to(sm) {
        font-size: 36px;
        margin-bottom: 16px;
        line-height: 50px;
      }
    }
    .methods {
      margin-bottom: 16px;
      &.bell {
        .left {
          img {
            width: 40px !important;
            margin-right: 10px !important;
          }
        }
      }
      h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        @include to(sm) {
          font-size: 20px;
          line-height: 32px;
        }
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 17px;
        @include to(sm) {
          font-size: 13px;
          margin-bottom: 14px;
        }
      }
      .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        @include to(sm) {
          margin-bottom: 20px;
        }
        .left {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .left-right {
            text-align: left;
            margin-right: 12px;
            h5 {
              font-weight: 500;
              font-size: 16px;
              line-height: 26px;
              @include to(sm) {
                font-size: 14px;
                line-height: 22px;
              }
            }
            p {
              margin: 0;
              margin-top: -5px;
              opacity: 0.5;
            }
          }
          img {
            width: 26px;
            margin-right: 20px;
            @include to(sm) {
              width: 22px;
              margin-right: 15px;
            }
          }
        }
        .chakra-switch {
          height: 22px;
          @include to(sm) {
            height: 19px;
          }
          .chakra-switch__track {
            background-color: #797979;
          }
        }
        .chakra-switch[data-checked] {
          .chakra-switch__track {
            background-color: #00c39f;
          }
        }
      }
      .code {
        margin-top: 16px;
        margin-bottom: 40px;
        @include to(sm) {
          margin-bottom: 36px;
          margin-top: 13px;
        }
        h4 {
          font-weight: 400;
          font-size: 18px;
          line-height: 29px;
          text-transform: uppercase;
          margin-bottom: 7px;
          @include to(sm) {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 5px;
          }
        }
        .code-form {
          display: flex;
          .chakra-input {
            height: 48px;
            @include to(sm) {
              height: 42px;
            }
          }
          .chakra-input[type="submit"] {
            cursor: pointer;
            outline: 0;
            border: none;
            background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%);
            border-radius: 8px;
            width: 167px;
            margin-left: 20px;
            font-weight: 600;
            font-size: 24px;
            line-height: 38px;
            text-transform: uppercase;
            @include to(sm) {
              width: 100px;
              font-size: 20px;
              line-height: 32px;
              margin-left: 12px;
            }
          }
        }
      }
    }
  }
}
