@import "./configs/mixin";
@import "./configs/variables";
@import "./configs/animation";
@import "./configs/chakra-custom";
@import "./components/app-layout";
@import "./components/app-empty";
@import "./components/pageSpinner";
@import "./components/listing-bar";
@import "./components/launchpad-item";
@import "./components/collection-item";
@import "./components/ranking-list";
@import "./components/nft-item";
@import "./components/getting-started-item";
@import "./components/app-table";
@import "./components/app-select";
@import "./components/app-pagination";
@import "./components/pagination";
@import "./components/sort";
@import "./components/app-alert";
@import "./components/web3-modal";
@import "./components/app-spinner";
@import "./pages/error-page";
@import "./pages/home";
@import "./pages/nft-details";
@import "./pages/collection-details";
@import "./pages/activities";
@import "./pages/discover";
@import "./pages/nft-ranking";
@import "./pages/my-nft";
@import "./pages/setting";
@import "./pages/documents";
@import url("https://fonts.googleapis.com/css?family=Saira:100,200,300,400,500,600,700,800,900");

@font-face {
  font-family: SVN-Transformer;
  src: url(/fonts/SVN-Transformer.ttf);
}
html {
  scroll-behavior: smooth;
}
