@keyframes show-out {
  from {
    right: -100px;
  }
  to {
    right: 0;
  }
}
@keyframes show-off {
  from {
    right: 0px;
  }
  to {
    right: -100px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes marquee {
  0% {
    margin-left: 100%;
  }
  100% {
    transform: translatex(-100%);
  }
}

@keyframes expand {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
