.chakra-modal__overlay {
  @include blurBack(20px);
}
.chakra-modal__header {
  padding-top: 30px !important;
  font-size: 24px !important;
  line-height: 10px;
  padding-bottom: 30px !important;
  &::after {
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    height: 70px;
    top: 0;
    left: 20px;
    border-bottom: 1px solid rgba(147, 147, 147, 0.5);
  }
}
.chakra-modal__close-btn {
  margin-top: 10px;
  margin-right: 8px;
  background: rgba(white, 0.1);
}
.chakra-modal__content {
  border: 3px solid rgba(white, 0.2);
  background: linear-gradient(
    126.08deg,
    rgba(255, 255, 255, 0.3) 13.84%,
    rgba(255, 255, 255, 0.2) 74.14%
  ) !important;
}

.chakra-tabs {
  padding: 20px 0;
  .chakra-tabs__tablist {
    border-bottom: unset !important;
    .chakra-tabs__tab {
      font-size: 24px;
      color: rgba($white, 0.5);
      transition: 0.1s;
      &:focus {
        box-shadow: unset;
        background: unset;
      }
    }
    .chakra-tabs__tab[aria-selected="true"] {
      color: $cyan;
      font-weight: 600;
    }
  }
  .chakra-tabs__tab-panel {
    animation: fadeUp 0.5s;
    padding: 0;
  }
}

.chakra-table {
  background: linear-gradient(
    126.08deg,
    rgba(255, 255, 255, 0.3) 13.84%,
    rgba(255, 255, 255, 0.1) 74.14%
  );
  border-radius: 10px;
  thead {
    tr th {
      font-size: 18px;
      font-weight: 600;
      color: $white;
      padding: 30px;
      border-bottom: 1px solid #d7d7d7;
    }
  }
  tbody tr {
    transition: 0.2s;
    &:hover {
      background: rgba($white, 0.1);
    }
    td {
      font-size: 16px;
      border-bottom: 1px solid #d7d7d7;
    }
    &:last-child {
      td {
        border-bottom: 1px solid transparent;
      }
    }
  }
  @include blurBack(20px);
}

.chakra-menu__menu-list {
  position: relative;
  background: linear-gradient(
    121.07deg,
    rgba(255, 255, 255, 0.3) -26.88%,
    rgba(255, 255, 255, 0.2) 73.85%
  ) !important;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    background: url(/common/menu-corner.png);
  }
  @include blurBack(20px);
}

.chakra-input,
.chakra-button,
.chakra-modal__close-btn {
  &:focus {
    box-shadow: none !important;
    border-color: white !important;
  }
}

.chakra-toast__inner {
  .chakra-alert.css-1iclwfz {
    background-color: #32b632;
  }
  .chakra-alert.css-o8oj6j {
    background-color: #ee0505;
  }
  .chakra-alert__icon {
    color: #fff;
  }
  .chakra-alert__desc {
    color: #fff;
  }
}

.chakra-switch {
  .chakra-switch__track {
    background: rgba(200, 200, 200, 0.5) !important;
  }
  .chakra-switch__track[data-checked] {
    background: #00c39f !important;
  }
}
