$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1600px;

$container-width: 1240px;

@mixin container {
  max-width: $container-width;
  width: 100%;
}

@mixin blurBack($blur) {
  backdrop-filter: blur($blur) !important;
  -webkit-backdrop-filter: blur($blur) !important;
  -moz-backdrop-filter: blur($blur) !important;
  -ms-backdrop-filter: blur($blur) !important;
  -o-backdrop-filter: blur($blur) !important;
}

@mixin blurBackUnder($blur) {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    @include blurBack($blur);
    z-index: -99;
  }
}

@mixin xs {
  @media (max-width: #{$xs - 1px}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $xs) and (max-width: #{$sm - 1px}) {
    @content;
  }
}

@mixin md {
  @media (min-width: $sm) and (max-width: #{$md - 1px}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $md) and (max-width: #{$lg - 1px}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $lg) and (max-width: #{$xl - 1px}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin from($width) {
  @if $width == xs {
    @media (min-width: $xs) {
      @content;
    }
  }
  @if $width == sm {
    @media (min-width: $sm) {
      @content;
    }
  }
  @if $width == md {
    @media (min-width: $md) {
      @content;
    }
  }
  @if $width == lg {
    @media (min-width: $lg) {
      @content;
    }
  }
  @if $width == xl {
    @media (min-width: $xl) {
      @content;
    }
  }
  @if $width == xxl {
    @media (min-width: $xxl) {
      @content;
    }
  } @else {
    @media (min-width: $width) {
      @content;
    }
  }
}

@mixin to($width) {
  @if $width == xs {
    @media (max-width: $xs) {
      @content;
    }
  }
  @if $width == sm {
    @media (max-width: $sm) {
      @content;
    }
  }
  @if $width == md {
    @media (max-width: $md) {
      @content;
    }
  }
  @if $width == lg {
    @media (max-width: $lg) {
      @content;
    }
  }
  @if $width == xl {
    @media (max-width: $xl) {
      @content;
    }
  }
  @if $width == xxl {
    @media (max-width: $xxl) {
      @content;
    }
  } @else {
    @media (max-width: $width) {
      @content;
    }
  }
}
