$black: #000000;
$white: #ffffff;
$grey1: #222222;
$grey2: #313131;
$grey3: #404040;
$grey4: #9c9c9c;
$grey5: #ececec;
$grey6: #f5f5f5;
$purple1: #cd28e8;
$purple2: #3f2b84;
$purple3: #ff00c7;
$dark-purple: #030348;
$cyan: #0bebd6;
$light-cyan: #b1fff8;
